@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url(assets/Faune-regular.woff2), url(assets/faune-regular.woff)
}

@font-face {
    font-family: "Faune";
    font-weight: 700;
    src: url(assets/Faune-bold.woff2), url(assets/faune-bold.woff)
}

body {
    font-family: "Faune";
    font-size: 16px;
    line-height: 1.5;

    background-color: #2a2a2a;
    color: #ffffff;
    margin: 40px 40px 40px 320px;
    width: 620px
}

.options {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #2a2a2a;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    padding: 40px;
}

textarea {
    font-size: 64px;
    width: 100%;
    background: none;
    border: none;
    color: #ffffff;
    outline: none;
    min-height: 100vh
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

span {
    float: right;
}

.option {
    margin: 20px 0 0 0;
}

input {
    margin-bottom: 15px;
}

input[type="text"] {
    margin-top: 5px;
    width: 100%;
    background-color: #575757;
    border: none;
    color: #ffffff;
    outline: none;
    padding: 5px 7px;
}

input[type="range"] {
    width: 100%;
}